<h1>Gallery</h1>
<p>uisition to us, but couldn’t disclose deal terms.

The acquisition was originally confirmed by Google to Re/code.

Google’s hiring of DeepMind will help it compete against other major tech companies as they all try to gain business advantages by focusing on deep learning. For example, Facebook recently hired NYU professor Yann LeCunn to lead its new artificial intelligence lab, IBM’s Watson supercomputer is now working on deep learning, and Yahoo recently acquired photo analysis startup LookFlow to lead its new deep learning group.

DeepMind was founded by neuroscientist Demis Hassabis, a former child prodigy in chess, Shane Legg, and Mustafa Suleyman. Skype and Kazaa developer Jaan Tallin is an investor.

This is the latest move by Google to fill out its roster of artificial intelligence experts and, according to Re/code, the acquisition was reportedly led by Google CEO Larry Page. If all three of DeepMind’s founders work for Google, they will join inventor, entrepreneur, author, and futurist Ray Kurzweil, who was hired in 2012 as a director of engineering focused on machine learning and langua</p>
